<strong>Here you would put the actual form to work on the task</strong>

<p>
  You can use this form through Camunda Tasklist
  by setting the formKey of a BPMN User Task to:
  <code>embedded:app:forms/task-form-pdf.html</code>
</p>

<form class="form-horizontal">

<!-- two-column layout -->
<div class="container-fluid">
<div class="row">
  <div class="col-md-4">

  <!-- table for listing existing variables -->
  <script cam-script type="text/form-script">
    var variableManager = camForm.variableManager;

    camForm.on('form-loaded', function() {
      // variables that are not already used in cam-variable bindings
      // must be fetched explicitly
      camForm.variableManager.fetchVariable('name');
    });

    camForm.on('variables-fetched', function() {
      // access to all process variables after the form has loaded
      $scope.variables = variableManager.variables;
    });
  </script>
  <h3>Process Variables</h3>
  <table class="table table-striped">
     <tr>
        <td>Name</td>
        <td>{{variables.name.value}}</td>
     </tr>
     <tr ng-repeat="variable in variables">
        <td>{{variable.name}}</td>
        <td>{{variable.value}}</td>
     </tr>
  </table>

  <!-- read-only field -->
  <div class="form-group">
    <label class="control-label">Name</label>
    <div class="controls">
      <input type="text"
             cam-variable-name="name"
             readonly="true" 
             class="form-control" />      
    </div>
  </div>

  <!-- current date -->
  <div class="form-group">
    <label class="control-label">Creation Date</label>
    <div class="controls">
      <input type="text"
             cam-variable-name="dateCreation"
             cam-variable-type="Date"
             required
             class="form-control" />
      <script cam-script type="text/form-script">
        var variableManager = camForm.variableManager;

        camForm.on('variables-fetched', function() {
          variableManager.variableValue('dateCreation', new Date().toISOString().substr(0, 19));
        });

      </script>
    </div>
  </div>

  <!-- date picker ISO -->
  <div class="form-group">
    <label class="control-label">Date</label>
    <div class="controls">
      <p class="input-group">
        <input type="text"
             cam-variable-name="date"
             cam-variable-type="Date"
             class="form-control"
             uib-datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
             is-open="dateFieldOpened" />

        <span class="input-group-btn">
          <button type="button"
                  class="btn btn-default"
                  ng-click="open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>
      <script cam-script type="text/form-script">
        $scope.open = function($event) {
          $event.preventDefault();
          $event.stopPropagation();
          $scope.dateFieldOpened = true;
        };
      </script>
    </div>
  </div>

  <!-- 2nd date picker with German date format -->
  <div class="form-group">
    <label class="control-label">Date 2</label>
    <div class="controls">
      <p class="input-group">
        <input type="text"
             ng-model="date2"
             class="form-control"
             uib-datepicker-popup="dd.MM.yyyy"
             is-open="date2FieldOpened" />

        <span class="input-group-btn">
          <button type="button"
                  class="btn btn-default"
                  ng-click="open2($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>
      <script cam-script type="text/form-script">
        $scope.open2 = function($event) {
          $event.preventDefault();
          $event.stopPropagation();
          $scope.date2FieldOpened = true;
        };
        camForm.on('submit', function() {
          // variable date2 isn't created if you didn't select a date in the datepicker
          var d = $scope.date2;
          camForm.variableManager.createVariable({
              name: 'date2',
              type: 'Date',
              value: d,
              isDirty: true
          });
        });
      </script>
    </div>
  </div>

  <!-- drop down list -->
  <div class="form-group">
    <label class="control-label">Select</label>
    <div class="controls">
      <select
             cam-variable-name="selected"
             cam-variable-type="String"
             class="form-control">
        <option selected="selected">foo</option>
        <option>bar</option>
      </select>
    </div>
  </div>

  <!-- radio buttons -->
  <div class="form-group">
    <label class="control-label">Approve?</label>
    <div class="controls">
      <div class="radio">
		  <label>
		    <input type="radio" name="approved" value="yes">
		    Yes
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="approved" value="no">
		    No
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="approved" value="maybe">
		    Maybe
		  </label>
		</div>
		<script cam-script type="text/form-script">
        var variableManager = camForm.variableManager;

        camForm.on('submit', function() {
            // this callback is executed when the form is submitted, *before* the submit request to
            // the server is executed

            // creating a new variable will add it to the form submit
            variableManager.createVariable({
                name: 'approved',
                type: 'String',
                value: $('input:radio[name=approved]:checked').val(),
                isDirty: true
            });
        });
    	</script>
    </div>
  </div>

  <!-- file download -->  
  <div class="form-group">
    <label class="control-label">Document</label>
    <div class="controls">
      <a cam-file-download="document"></a>
    </div>
  </div>

  </div>
  <!-- 2nd column -->
  <div class="col-md-8">
  
    <!-- PDF viewer -->  
  	<object data="{{contextPath}}/file-variable?taskId={{taskId}}&variableName=document" type="application/pdf" style="width:100%; height:585px;">
		 <p>
		 	It appears you don't have a PDF plugin for this browser. No biggie... you can 
		 	<a href="{{contextPath}}/file-variable?taskId={{taskId}}&variableName=document"> click here to download the PDF file.</a>
		 </p>
 	</object>
    <script cam-script type="text/form-script">
      camForm.on('form-loaded', function() {
        $scope.contextPath = camForm.formUrl.split("/forms/")[0];
        $scope.taskId = camForm.taskId;
      });
    </script>

  <!-- end two-column layout -->
  </div>
</div>
</div>  

</form>
